.code-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.code-section__header {
    font-family: Roboto;
    font-size: 40px;
    margin-bottom: 65px;
    text-align: center;
}
#code {
    
    width: 884px;
    height: 534px;
    border-radius: 28px; 
    // background: rgb(32, 33, 34);
    margin-bottom: 65px;

    font-size: 15px;
}
.code-section__files {
    margin-bottom: 20px;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    width: 884px;
    font-family: Roboto;
    font-size: 15px;
    flex-wrap: wrap;   
    
    & > li {
        background-color: rgba(255,255,255, 0);
        transition: background-color 0.5s;
        // border: 1px solid red;        
        padding: 5px;
        cursor: pointer;
        color:rgb(255,255,255);
        &:hover {
            background-color: rgba(255,255,255, 1);
        color: rgb(0,0,0);
        text-decoration: underline;
        }
    }
}
.code-section__files--selected {
    background-color: rgba(255,255,255, 1) !important;
    color: rgba(0,0,0, 1) !important;
}