#map {
    height: 100%;
    width: 100%;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.user-place {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -150%);

    border: 1px solid $primary-color;
    border-radius: 25px;
    padding: 1rem;
    cursor: pointer;

    background: $secondary-color;

    @include main-font-style();

    font-size: 1.5rem;
}
.back-btn {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 25%);

    background: $secondary-color;
    border: 1px solid $primary-color;
    border-radius: 25px;
    padding: 1rem;
    cursor: pointer;
}
