@import '_utilities';

$border-thickness: 1px;

body {
    margin: 0;
    background: $primary-color;
    color: opposite-font-color($primary-color);
    font-size: 100%;
    // overflow: hidden; // solutionhere
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header {
    font-family: Roboto;
    text-align: center;
    font-size: 56px;
    margin-top: 65px;
    margin-bottom: 70px;
    // @include border();
}
@import '_cards';
@import '_codeSection';
@import '_absoluteElems';

@import '_mobile';
@import '_map';
